---
layout: default
title: HODOR-BLOG
description: aardio-文章列表
---

<!-- 遍历分页后的文章 -->
{% for post in paginator.posts %}
<h1><a href="/aardio{{ post.url }}">{{ post.description }}--{{ post.url }}</a></h1>
{% endfor %}

<!-- 分页链接 -->
<div class="pagination">
{% if paginator.previous_page %}
<a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
{% else %}
<span class="previous">Previous</span>
{% endif %}
<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
{% if paginator.next_page %}
<a href="/page{{ paginator.next_page }}" class="next">Next</a>
{% else %}
<span class="next ">Next</span>
{% endif %}
</div>
