---
layout: default
title: aardio-文章列表
description: HODOR-BLOG
---

<!-- 遍历分页后的文章 -->
{% for post in paginator.posts %}
<h3><a href="/aardio{{ post.url }}">{{ site.posts | sort: 'author' }}{{ post.title }}<span style="font-size:12px">&nbsp&lt;{{ post.url }}&gt;</span></a></h3>
{% endfor %}

<!-- 分页链接 -->
<div class="pagination">
<span class="page_number ">【文章数量: {{ paginator.total_posts }}】</span>
<span class="page_number ">【第{{ paginator.page }}页/共{{ paginator.total_pages }}页】</span>
{% if paginator.previous_page %}
{% if paginator.previous_page == 1 %}
<a href="/aardio" class="previous">上一页</a>
{% else %}
<a href="/aardio/page{{ paginator.previous_page }}" class="previous">上一页</a>
{% endif %}
{% endif %}
{% if paginator.next_page %}
<a href="/aardio/page{{ paginator.next_page }}" class="next">下一页</a>
{% endif %}
</div>
